.table-row {


    /*option*/
    background-color: white;

    /*border*/
    border: 1px solid white;
    border-radius: 10px;


    /*animation*/
    /*animation: linear table-row-animation 3s ;*/

}

@keyframes table-row-animation {

    from{

        opacity: 0;
        filter: blur(5px);

    }
    to{
        opacity: 1;
        filter: blur(0px);


    }

}